

body{margin: 0px; background-color: grey;}

#container{width:1024px; margin:20px auto; overflow: hidden; border: solid 10px; border-color:#FFFFFF}
#header { padding: 10px; background-color:#D4001F; border-bottom:solid 2px white; }

#menu{text-align:center;border-bottom: solid 2px white;background-color:black; padding:10px;background-color:#D4001F;}


#content{ float:left; width: 1024px; padding:20px; height: auto; border-right: solid 2px black; text-align:center;}

#footer{float: left; width:1024px; padding:10px; height: 70px; border-top: solid 2px white; background-color:#D4001F;}

#contact {margin: 20px; padding:10px; text-align:center;
}


p.about {margin: 50px;
}

.photo {
    height:350px;
    width: 500px;
    border:10px solid #D4001F;
}



.Grids {border: 2px solid black; margin: 5px auto 10px auto; width: auto;
}
    .Grids td {border: 2px solid black; padding: 5px; background-color:white; text-align:center; font-size:14pt;
    }
    .Grids th {
        border: 2px solid black;
        background-color: #D4001F;
        text-align: center;
        color:white;
        font-size:16pt;
        padding:5px;
        
    }

.details{margin:auto;  border: solid 2px white;}
    .details td {padding: 15px; width: 300px; font-size:14pt;border: solid 2px white;}
    .details .fheader {
        background-color: #D4001F;
        text-align: right;
        color: white;
    }

    .details .command {
        text-align: center;
        background-color: black;
        border: none;
    }


.menuc {
margin:0 auto;
width:100%;
}
    
h1.banner {text-align:center;font-weight:900; color: black;}
.description {text-align:center; font-weight:600;color:black;}
h4.foot {text-align:center; font-weight:600;}



